<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

   <bean id="bo" class="com.to.SomeBO"></bean>
   <bean id="ba" class="com.apps.BeforeAdvisor"></bean>
   <bean id="aa" class="com.apps.AfterAdvisor"></bean>
   <bean id="bh" class="com.apps.BothAdvisor"></bean>
   <bean id="ea" class="com.apps.ExceptionAdvisor"></bean>
   

   <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
       <property name="target" ref="bo"/>
       <property name="interceptorNames">
       <list>
       		<value>bh</value>
       		<value>ea</value>
       </list>
       </property>
   </bean>

</beans>