<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean class="com.to.Hello" id="h1">
       <property name="message" value="Hello World!"/>
   </bean>
   
      <bean class="com.to.Hello" id="h2">
       <property name="message" value="welcome to Spring!"/>
   </bean>
   
         <bean class="com.to.Employee" id="e1">
       <property name="employeeID" value="1234"/>
        <property name="employeeName" value="Amit"/>
   </bean>
   
            <bean class="com.to.Employee" id="e2">
       <constructor-arg name="employeeID" value="5678"/>
        <constructor-arg name="employeeName" value="Josh"/>
   </bean>

</beans>